*.iml
*.exe
*.sdf
*.suo
*.db
*.user
*.opendb
/3d_engine/e3d_CSharp_Script/bin/
/3d_engine/e3d_CSharp_Script/obj/
/3d_engine/engine/3rd/Mono/bin/
/3d_engine/engine/3rd/Mono/lib/
/3d_engine/engine/3rd/Mono/msvc/Debug/
/3d_engine/engine/3rd/Mono/msvc/Win32/
/3d_engine/engine/3rd/Mono/msvc/x64/
/proj_win32/bin/
/proj_win32/Debug/
/proj_win32/lib/
/proj_win32/WindowShell/Debug
/proj_win32/WindowShell/Release
/proj_win32/WindowShell/x64
/proj_win32/EngineEditor/bin
/proj_win32/EngineEditor/obj
/proj_win32/EngineEditor/NETIOCPSvr/obj/
/proj_win32/EngineEditor/NETIOCPSvr/bin/
/proj_win32/EngineCore/Debug
/proj_win32/EngineCore/Release
/proj_win32/EngineCore/x64
/proj_win32/EngineCore/lib/*.lib
